<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1014389239818-1dl6071grlcarja2uge4sq9f9kv073mu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014389239818-1dl6071grlcarja2uge4sq9f9kv073mu</string>
	<key>API_KEY</key>
	<string>AIzaSyAjMOrsRHebi32waivWER3t3igeKvlAUgo</string>
	<key>GCM_SENDER_ID</key>
	<string>1014389239818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eichhorn.donde</string>
	<key>PROJECT_ID</key>
	<string>donde-919c8</string>
	<key>STORAGE_BUCKET</key>
	<string>donde-919c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014389239818:ios:bb18fb924ca57bd4b2aff3</string>
</dict>
</plist>